
body{
 background-color: grey;
 font-family: verdana
}

h1 {
	color:white;
	font-size: 20px;
}

  .box {
    margin: 0 auto;
    background-color: darkgrey;
    width: 400px;
    height: 500px;
    
}
#ft{
     width: 380px;
     text-align: right;
    margin-top: 15px;
    margin-left: 8px;
    border: 2px solid white;
    height: 50px;
    font-size: 40px;
    border-radius: none;
}


.input{
    width:63px;
    height: 63px;
    border-radius: none;
    margin-left: 15px;
    margin-right: 17px;
    margin-bottom: 0px;
    color: black;
}




